.App {
  text-align: center;
  background-color: whitesmoke;
}

.about {
  background-color: lightgray;
  height: 100rem;
  margin: 0 auto;
}

h1 {
  font-family: 'Cairo', sans-serif;
  align-self: center;
  font-size: 6em;
}

h2 {
  font-family: 'Cairo', sans-serif;
  font-size: 4.5em;
  text-decoration: underline;

}

.fw {
  max-height: 500px;
  max-width: 850px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0.3px black double;
}

.fw:hover {
  box-shadow: -6px 3px 84px 30px rgba(0,0,0,0.79);
  -webkit-box-shadow: -6px 3px 84px 30px rgba(0,0,0,0.79);
  -moz-box-shadow: -6px 3px 84px 30px rgba(0,0,0,0.79);
  transition: box-shadow 0.3s ease-in-out;
}

.logo {
  max-width: 40px;
  max-height: 40px;
}

.logo:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s ease-in-out;
}

.nic {
  max-width: 800px;
  max-height: 850px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  background-color: gray;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 1.8em
}

.navbar li {
  list-style: none;
}

.navbar li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s ease-in-out;
}

p {
  font-family: 'Kanit', sans-serif;
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.5em;
}

.projects {
  background-color: gainsboro;
  height: 100rem;
  margin: 0 auto;
}

.projects p {
  margin-top: 20px;
}

