.App {
  text-align: center;
  background-color: slateblue;
}

.about {
  background-color: pink;
}

h1 {
  font-family: "Noto Sans TC";
  align-self: center;
  font-size: 6em;
}

.fw {
  max-height: 300px;
  max-width: 550px;
}

.nic {
  max-width: 800px;
  max-height: 850px;
  border-radius: 50%;
}

.navbar {
  background-color: skyblue;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}

.navbar li {
  list-style: none;
}

.projects {
  background-color: seagreen;
}

