.App {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: "Noto Sans TC";
  align-self: center;
}

.nic {
  max-width: 400px;
  max-height: 450px;
}

.navbar {
  background-color: bisque;
  text-decoration: none;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.navbar li {
  list-style: square;
}